.singleComment {
	display: flex;
	gap: 20px;
	padding: 20px;
}

.singleComment__imgContainer img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	object-fit: cover;
}

.singleComment__infoContainer {
	flex: 1;
	word-wrap: break-word;
	width: 100%;
}

.singleComment__infoContainer i {
	margin-left: 2px;
}

.singleComment__infoContainer h2 {
	font-weight: 500;
	padding: 10px 0;
}

.singleComment__infoContainer h5 {
	font-weight: 500;
	padding-bottom: 10px;
	color: #666666;
}

.singleComment__infoContainer p {
	font-weight: 500;
	padding-bottom: 10px;
}

.singleComment__infoContainer button {
	padding: 5px;
	font-size: .7rem;
}

.singleComment__reply form input::placeholder {
	font-size: 0.8rem;
}
