.blogDetail__item{
    max-width: 1200px;
    margin: 0 auto;
}

.blogDetail__item p{
    color: #999999;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 50px;
}

.blogDetail__icons {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.blogDetail__icons i{
    margin: 0 .3rem;
}