.blogDetail__header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
}

.blogDetail__header h1 {
    font-size: 5rem;
    line-height: 6rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}