.singleComment {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;
	border-bottom: 1px solid silver;
}

.singleComment__imgContainer img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	object-fit: cover;
}

.singleComment__infoContainer {
	flex: 1;
}

.singleComment__infoContainer h2 {
	font-weight: 500;
	padding: 10px 0;
}

.singleComment__infoContainer h5 {
	font-weight: 500;
	padding-bottom: 10px;
	color: #666666;
}

.singleComment__infoContainer p {
	font-weight: 500;
	padding-bottom: 10px;
}

.singleComment__reply form input::placeholder {
	font-size: 0.8rem;
}
