.newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30vh;
	background-color: #f4bf2d;
	text-align: center;
}

.newsletter p {
	margin: 20px 0;
}

.newsletter__inputContainer {
	position: relative;
	width: 50%;
	align-items: center;
}

.newsletter .newsletter__input {
	width: 100%;
	font-size: 1rem;
	background-color: #f4bf2d;
	border: 1px solid black;
	color: black;
}

.newsletter .newsletter__input::placeholder {
	color: black;
}

.newsletter .newsletter__input:focus {
	background-color: inherit;
	border: 1px solid black;
}

.newsletter__inputContainer .form-control p {
	display: none;
}

.newsletter div button {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	color: white;
	background-color: black;
	border: none;
}

.newsletter div button:hover {
	color: white;
	background-color: black;
	border: none;
}

@media (max-width: 576px) {
	.newsletter {
		margin: 20px 0;
		height: 40vh;
	}
	.newsletter__inputContainer {
		width: 90%;
	}
}

@media (max-width: 428px) {
	.newsletter__inputContainer {
		width: 100%;
		padding: 0 5px;
	}
}

@media (max-width: 320px) {
	.newsletter {
        height: 60vh;
	}
    .newsletter .newsletter__input,
    .newsletter div button{
        font-size: .75rem;
    }
}
