.newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 30vh;
	background-color: #f4bf2d;
	text-align: center;
	padding: 50px;
}

.newsletter h1 {
	padding: 20px 0;
}

.newsletter p {
	line-height: 1.5rem;
}

.newsletter__inputContainer {
	align-items: center;
	width: 50%;
}

.newsletter .newsletter__input {
	width: 100%;
	font-size: 1rem;
	background-color: #f4bf2d;
	border: 1px solid black;
	color: black;
}

.newsletter .newsletter__input::placeholder {
	color: black;
}

.newsletter .newsletter__input:focus {
	background-color: inherit;
	border: 1px solid black;
}

.newsletter__inputContainer .form-control p {
	display: none;
}

.newsletter div button {
	color: white;
	background-color: black;
	border: none;
}

.newsletter div button:hover {
	color: white;
	background-color: black;
	border: none;
}

.newsletter__success {
	color: #ff0055;
	padding-top: 20px;
}

@media (max-width: 576px) {
	.newsletter__inputContainer {
		width: 80%;
	}
}
