.auth-form {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.auth-form__container > h2 {
	line-height: 3rem;
}

.auth-form__container {
	width: 90%;
	min-height: 40vh;
	padding: 2rem;
	max-width: 40rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 6px;
	background: white;
}

.auth-form__container button {
	width: 100%;
	padding: 10px 0;
	border-radius: 1px;
	margin: 0.5rem 0;
}

@media (max-width: 576px) {
	.auth-form {
		height: auto;
	}
	.auth-form__container {
		margin: 20px 0;
	}
}
